$key_size: 50px;

.container {
  padding: 20px;
  width: 58 * $key_size/4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(58, $key_size/4);
  grid-template-rows: repeat(20, $key_size/4);
  grid-column-gap: 0px;
}
